# Este archivo contiene snippets para javascript --
snippet rafd "Crea y exporta un componente simple" b
console.log("testeando")
endsnippet

snippet crf "Genera una variable" b
const test = 0
endsnippet
